<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://s2.glbimg.com/Iq3Pxvk38Zuy1B3vdbnDVhF9Xd0=/0x0:1103x638/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/4/w/l4CrdtRBChxBhnxMzBYg/mapa.png"/>
  <ion-card>
    <ion-card-content>
      <p>Endereço: Rua falsa, 234</p>
      <p>Ponto de referência: Supermercado Saraiva</p>
      <p>Bairro: Jose Freitas</p>
      <p>Cep: 1234567890</p>
      <p>Cidade Terezina - Estado Cuiaba</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notas</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button size="full">
    Pegar chamada
  </ion-button>

</ion-content>
